/* src/style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.cart-badge {
  color: black;
}

body > div {
  @apply h-screen flex flex-col
}

.product-card {
  @apply translate-y-0 shadow-[0_4px_24px_0_rgba(34,41,47,0.1)] transition-all duration-[0.3s] ease-[ease-in-out] rounded-[0.428rem] hover:translate-y-[-5px] hover:shadow-[0_4px_25px_0_rgba(34,41,47,0.25)];
}

.card {
  @apply   shadow-[0_4px_24px_0_rgba(34,41,47,0.1)] overflow-hidden rounded-[0.428rem]  ;
}

.products-grid {
  @apply grid grid-cols-[1fr_1fr_1fr] gap-8;
}
 
.breadcrump-link {
  @apply flex items-center text-sm text-secondary  hover:text-primary-700 focus:outline-none focus:text-primary-900     
} 
 
/* // ///////////////////////////////////////////////
// Zoom Fade page transition
// /////////////////////////////////////////////// */

.zoom-fade-enter-active,
.zoom-fade-leave-active {
  transition: transform 0.45s, opacity 0.48s ease-in-out;
}
.zoom-fade-enter {
  transform: scale(0.97);
  opacity: 0;
}

.zoom-fade-leave-to {
  transform: scale(1.03);
  opacity: 0;
}
/* // ///////////////////////////////////////////////
// Fade Regular page transition
// /////////////////////////////////////////////// */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease-in-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}